@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.product-display{
    margin-bottom: 40px;
}
.wrapper {
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0 7%;
    display: inline-block;
    /*background-color: #f5f4f4;*/
    text-align: left;
    /*overflow:hidden;*/
}
.product-desc {
    width:600px;
    height: 380px;
    margin-top: 20px;
    margin-right:10px;
    float:left;
    display: inline-block;
    /*background-color: #5f6cff;*/
    /*overflow:hidden;*/
    font-family:"Avenir Next", Sans-serif;
    position: relative;
}
.title {
    font-size: 28px;
    letter-spacing: 1px;
}
.our-shop {
    margin-top: 30px;
    font-size: 60px;
    letter-spacing: 2px;
}
p {
    font-size: 20px;
    letter-spacing: 1px;
}
.link {
    color: #885fff;
    font-size: 23px;
    text-decoration:none;
    letter-spacing: 6px;
}
.shop-now {
    position: relative;
    width:220px;
    margin-top: 40px;
}
.shop-now span {
    display: inline-block;
    background: url('../images/Vright.png') no-repeat;
    height:38px;
    width:32px;
    background-position:0px 16px;
}
.line {
    position: absolute;
    top:50px;
    width:0px;
    height:7px;
    background-color: #885fff;
    transition: all .2s;
}
.shop-now:hover > .line {
    width:180px;
}
.shop-now:hover > .link {
    color: black;
}
.collection li {
    width:350px;
    height: 500px;
    /*background-color: #cc6b6b;*/
    white-space:nowrap;
    float: left;
    list-style:none;
    margin-right: 40px;
}
.collection {
    white-space:nowrap;
    width:1990px;
    height: 500px;
    float:right;
    display: inline-block;
    background-color: #f9f9f9;
    overflow:hidden;
    font-family:"Avenir Next", Sans-serif;
    position: relative;
}
.collection img {
    display: block;
    transform: scale(0.5);
    transition: all 0.5s ease 0s;
    -webkit-transform: scale(1);
    -webkit-transform: all 0.5s ease 0s;
}
.collection img:hover {
    transform: scale(1);
    transition: all 0.5s ease 0s;
    -webkit-transform: scale(1.1);
    -webkit-transform: all 0.5s ease 0s;
}
.text-product p{
    margin:0;
    text-align: center;
}
.rate {
    margin-top: 15px;
    text-align: center;
}
.five-star:before {
    margin-left: 5px;
    content: '\f005';
    font-family: FontAwesome;
}
.price {
    font-size: 30px;
}