.header{
    height: 64px;
    width: auto;
}
.header-top, .header-bottom{
    position: relative;
    margin-right: 1%;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 32px;
    width: auto;
    font-size: 12px;
}
.wel {
    margin-right: 1%;
}

